doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title jinro
    link(rel="preconnect" href="/api/v1/users/me")
    link(rel="prefetch" href="/assets/activity_logger.png")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="/assets/app.css")
  body
    #jinro
    script(src="/assets/app.js")
