white-area-bg = #f9f9f9
white-area-fg = #333
side-color = #13212A
lighter-bg = #30343c
lighter-text-color = #C4B5AE

html
  background-color: #3C3034
  background-color: #13212A
  color: #C4B5AE

.header
  background-color: #13212A
  border-bottom: 1px solid (side-color - 8%)

.room__body__chat__messages, .fancy-textarea
  whitearea()
