.notifications
  &__message
    display: block
    height: 6em
    width: 12em
    background-color: #fff
    opacity: 0.8
    border-radius: 6px
    padding: 1ex
    &__title
      font-weight: bold
      font-size: 100%
      nospace()
    &__body
      font-size: 90%
      nospace()
